<h1><%= disease.name %> - <%= disease.severity %> out of 10!</h1>
<h2>Transmission modes: <%= disease.transmission %></h2>
<h3>
	<%= disease.description %>

</h3>
<h2>Alright so... if you have ANY of the following symptoms, you KNOW you got it</h2>


<ul>
<% disease.symptoms.forEach(function(s) { %>
	<li class="list-group-item-danger">
		<%= s.name %>
	</li>

<% }); %>
</ul>
